openapi: "3.0.0"
info:
  description: "The Tagesschau is a news program of the ARD (abbreviation for 'Arbeitsgemeinschaft der öffentlich-rechtlichen Rundfunkanstalten der Bundesrepublik Deutschland’), which is produced by ARD-aktuell in Hamburg and broadcast several times a day. ARD-aktuell has been the central television news department of ARD since 1977, which in turn is a broadcasting association consisting of the state broadcasting corporations and Deutsche Welle.
<br><br>
Current news and media articles are available in JSON format on [www.tagesschau.de](https://www.tagesschau.de) via the API documented here.
<br><br>
**Attention:** The use of the content for private, non-commercial use is permitted, but publication is not - with the exception of content that is explicitly under the CC license (https://tagesschau.de/creativecommons). It is not permitted to make more than 60 requests per hour."
  version: "2.0.0"
  title: "Tagesschau API"
  contact:
    name:  "AndreasFischer1985"
    email: "andreasfischer1985@web.de"
    url: "https://github.com/AndreasFischer1985/tagesschau-api"

servers:
  - url: "https://www.tagesschau.de"

paths:

  /api2/homepage:
    get:
      summary: "Selected news and breaking news"
      description: "Selected news and breaking news that are shown on the homepage of the Tagesschau app."
      operationId: "homepage"
      responses:
        '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/HomepageResponse'


  /api2/news:
    get:
      summary: "Current news and breaking news"
      description: "Current news and breaking news"
      operationId: "news"
      responses:
        '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/NewsResponse'
      parameters:
        - in: query
          name: regions
          schema:
            type: integer
            enum:
                - 1
                - 2
                - 3
                - 4
                - 5
                - 6
                - 7
                - 8
                - 9
                - 10
                - 11
                - 12
                - 13
                - 14
                - 15
                - 16
          description: State - 1=Baden-Württemberg, 2=Bayern, 3=Berlin, 4=Brandenburg, 5=Bremen, 6=Hamburg, 7=Hessen, 8=Mecklenburg-Vorpommern, 9=Niedersachsen, 10=Nordrhein-Westfalen, 11=Rheinland-Pfalz, 12=Saarland, 13=Sachsen, 14=Sachsen-Anhalt, 15=Schleswig-Holstein, 16=Thüringen. Multiple comma-separated specifications possible (e.g. regions=1,2).
          example: 1
          required: false

        - in: query
          name: ressort
          schema:
            type: string
            enum:
                - inland
                - ausland
                - wirtschaft
                - sport
                - video
                - investigativ
                - faktenfinder
          example: ausland
          description: Department/subject area
          required: false

  /api2/channels:
    get:
      summary: "Current channels"
      description: "Current channels (im Livestream: tagesschau24, tagesschau in 100 Sekunden, tagesschau, tagesschau 20 Uhr, tagesthemen, nachtmagazin, Bericht aus Berlin, tagesschau vor 20 Jahren, tagesschau mit Gebärdensprache)"
      operationId: "channels"
      responses:
        '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ChannelsResponse'

  /api2/search:
    get:
      summary: "Search"
      description: "Search"
      operationId: "search"
      responses:
        '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SearchResponse'
      parameters:
 
        - in: query
          name: searchText
          schema:
            type: string
          description: search text
          example: Ukraine
          required: false
        - in: query
          name: pageSize
          schema:
            type: integer
          description: page
          example: 0
          required: false
        - in: query
          name: resultPage
          schema:
            type: integer
          description: Search results per page (1-30)
          example: 2
          required: false

components: 
  schemas:    

    HomepageResponse:
      type: object
      properties:
        news: 
          type: array
          required: [date,title,content,topline,details,detailsweb,tracking,shareURL,images,teaserImage]
          items:
            type: object
            properties:
              sophoraId:
                type: string
              externalId:
                type: string
              title:
                type: string
              teaserImage:
                type: object
              tracking:
                type: array
                items:
                  type: object
              tags:
                type: array
                items:
                  type: object
              regionId:
                type: string
              updateCheckUrl:
                type: string
              images:
                type: array
                items:
                  type: object     
              streams:
                type: object
              copyright:
                type: string
                example: ""
              details:
                type: string
              detailsweb:
                type: string
              shareURL:
                type: string
              topline:
                type: string
              firstSentence:
                type: string
              geotags:
                type: string
              crop:
                type: object
              ressort:
                type: string
                example: ausland
              type:
                type: string
              breakingNews:
                type: boolean
              firstFrame:
                type: object
        regional: 
          type: array
          items:
            type: object
            properties:
              sophoraId:
                type: string
              externalId:
                type: string
              title:
                type: string
              teaserImage:
                type: object
              tracking:
                type: array
                items:
                  type: object
              tags:
                type: array
                items:
                  type: object
              updateCheckUrl:
                type: string
              regionId:
                type: string
              images:
                type: array
                items:
                  type: object     
              details:
                type: string
              detailsweb:
                type: string
              shareURL:
                type: string
              topline:
                type: string
              firstSentence:
                type: string
              geotags:
                type: string
              brandingImage:
                type: object
              type:
                type: string
                example: story
              breakingNews:
                type: boolean
        newStoriesCountLink: 
          type: string
          example: "https://www.tagesschau.de/api2/indexfeedcount-101.json?state=YdphL1CNXIsJ33egKMFCo7yZ9%2FBgxRy3VBMYH%2B4gXtyYxqph5eBf433P%2BmTx36pT3TNwNBsqS9LGyGTm%2BFNP6Ykcuvx4dwpECIpSHNwOVMzasdtSPFocAe%2FlGxV597w39uXLjqQTyImeeJiLS6fxvQ%3D%3D"
        type:
          type: string
          example: news

    NewsResponse:
      type: object
      properties:
        news: 
          type: array
          items: 
            type: object
            properties:
              sophoraId:
                type: string
              externalId:
                type: string
              title:
                type: string
              teaserImage:
                type: object
              date:
                type: string
              tracking:
                type: array
                items:
                  type: object
              tags:
                type: array
                items:
                  type: object
              updateCheckUrl:
                type: string
              regionId:
                type: integer
              details:
                type: string
              detailsweb:
                type: string
              shareURL:
                type: string
              topline:
                type: string
              firstSentence:
                type: string
              geotags:
                type: array
                items:
                  type: object
        regional: 
          type: array
          items:
            type: object
            properties:
              sophoraId:
                type: string
              externalId:
                type: string
              title:
                type: string
              teaserImage:
                type: object
              tracking:
                type: array
                items:
                  type: object
              tags:
                type: array
                items:
                  type: object
              updateCheckUrl:
                type: string
              regionId:
                type: string
              images:
                type: array
                items:
                  type: object     
              details:
                type: string
              detailsweb:
                type: string
              shareURL:
                type: string
              topline:
                type: string
              firstSentence:
                type: string
              geotags:
                type: string
              brandingImage:
                type: object
              type:
                type: string
                example: story
              breakingNews:
                type: boolean
        newStoriesCountLink: 
          type: array
          items:
            type: object
        type: 
          type: string
          example: "news page"
        nextPage: 
          type: string
          example: "https://www.tagesschau.de/api2/newsfeed-101~_date-220227.json"


    SearchResponse:
      type: object
      properties:
        type: 
          type: string
          example: search
        sophoraId: 
          type: string
        trackingPixels: 
          type: array
          items:
            type: object
        details: 
          type: string
        detailsWeb: 
          type: string
        date: 
          type: string
        searchText: 
          type: string
          example: Ukraine
        query: 
          type: string
          example: "searchField_t:Ukraine"
        totalItemCount: 
          type: integer
          example: 1501
        SolrQuery: 
          type: string
          example: "dateTime_dt:[NOW-30DAY TO NOW] AND (primaryType_s:\"sophora-content-nt:story\" OR primaryType_s:\"sophora-content-nt:video\" OR primaryType_s:\"sophora-content-nt:broadcast\") AND -(primaryType_s:\"sophora-content-nt:video\" AND (headline_s:\"Ganze Sendung\" OR sophora-content_contentType_s:sendung))"
        searchResults:
          type: array 
          items: 
            type: object
            properties:
              sophoraId:
                type: string
              externalId:
                type: string
              title:
                type: string
              teaserImage:
                type: object
              date:
                type: string
              tracking:
                type: array
                items:
                  type: object
              tags:
                type: array
                items:
                  type: object
              updateCheckUrl:
                type: string
              streams:
                type: object
              copyright:
                type: string
                example: ""
              type:
                type: string
                example: "video"
              alttext:
                type: string
                example: "Sendungsbild"

    ChannelsResponse:
      type: object
      properties:
        channels:
          type: array
          items:
            type: object
            properties:
              sophoraId:
                type: string
              externalId:
                type: string
              title:
                type: string
              teaserImage:
                type: object
              tracking:
                type: array
                items:
                  type: object
              tags:
                type: array
                items:
                  type: object
              updateCheckUrl:
                type: string
              streams:
                type: object
              copyright:
                type: string
                example: ""
              type:
                type: string
                example: "video"
              alttext:
                type: string
                example: "tagesschau24"
        type:
          type: string
          example: "channels" 


    MultimediaResponse:
      type: object
      properties:
        news: 
          type: array
          items: 
            type: object
            properties:
              sophoraId:
                type: string
              externalId:
                type: string
              title:
                type: string
              teaserImage:
                type: object
              date:
                type: string
              tracking:
                type: array
                items:
                  type: object
              tags:
                type: array
                items:
                  type: object
              updateCheckUrl:
                type: string
              regionId:
                type: integer
              details:
                type: string
              detailsweb:
                type: string
              shareURL:
                type: string
              topline:
                type: string
              firstSentence:
                type: string
              geotags:
                type: array
                items:
                  type: object
        regional: 
          type: array
          items:
            type: object
            properties:
              sophoraId:
                type: string
              externalId:
                type: string
              title:
                type: string
              teaserImage:
                type: object
              tracking:
                type: array
                items:
                  type: object
              tags:
                type: array
                items:
                  type: object
              updateCheckUrl:
                type: string
              regionId:
                type: string
              images:
                type: array
                items:
                  type: object     
              details:
                type: string
              detailsweb:
                type: string
              shareURL:
                type: string
              topline:
                type: string
              firstSentence:
                type: string
              geotags:
                type: string
              brandingImage:
                type: object
              type:
                type: string
                example: story
              breakingNews:
                type: boolean
        newStoriesCountLink: 
          type: string
        type: 
          type: string
          example: news
